.features-list {
  display: flex;
  gap: 30px;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (min-width: 768px) {
    flex-wrap: wrap;
  }

  &__item {

    @media (max-width: 767px) {
      max-width: 450px;
    }

    @media (min-width: 768px) {
      max-width: 354px;
    }

    @media (min-width: 1200px) {
      max-width: 270px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    height: 120px;

    background: var(--secondary-bcg-color);
    border-radius: 4px;
  }
  
  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
  }

}
