.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bcg-color);

  &-container {
   
   
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

    }

    @media (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      
    }
  }
}

