.join {
  margin-bottom: 60px;
  

  &__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--white-color);
  }

  @media (max-width: 1199px) {
    text-align: center;
    
    
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    padding-right: 89px;
    margin-left: 165px;
  }
}


.join-list {
  display: flex;
  justify-content: center;
  height: 44px;
  &__item {
    background-color: var(--footer-icon-bg-color);
  }

  &__link {
    fill: var(--white-color);
  }
}