.form {
  &__title {
    text-align: center;

    margin-top: 0;
    margin-bottom: 12px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }

  &__label {
    display: inline-block;
    margin-bottom: 4px;

    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
  } 

  &__input {
    height: 40px;
    width: 100%;

    padding: 0 12px 0 42px;

    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__textarea {
    width: 100%;
    height: 120px;

    padding: 12px 16px;
    margin-bottom: 20px;

    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: var(--accent-color);
    }

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.166;
      letter-spacing: 0.01em;
    }
  }

  &__input:focus + &__icon {
    fill: var(--accent-color);
  }

  &__field {
    position: relative;
    margin-bottom: 10px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    fill: var(--primary-text-color);

    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button { 
    margin: 0 auto;
    padding: 10px 52px;
    min-width: 200px;
    min-height: 50px;
  }
}

textarea {
  resize: none;
}

.checkbox {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;

  &__input {
    appearance: none;
  }

  &__icon {
    position: absolute;
    left: 0;
    margin: 4px 7px 0 0;
    fill: transparent;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
  }

  &__input:checked ~ &__icon {
    fill: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }

  &__label {
    position: relative;
    padding-left: 23px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--secondary-text-color);
  }

  &__link {
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}





