.subscribe {
  width: 570px;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;

    color: var(--white-color);
  }
}

.subscribe-form {
  display: flex;
  align-items: center;

  &__input {
    width: 358px;
    height: 50px;

    padding-left: 16px;
    padding-right: 16px;
    margin-right: 12px;

    background-color: transparent;
    color: #ffffff;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      color: var(--footer-link-color);

      display: flex;
      align-items: center;
    }
  }
}

.subscribe-btn {
  display: flex;
  
  align-items: center;
  justify-content: center;

  padding: 10px 28px;

  width: 200px;
  height: 50px;

  &__icon {
    margin-left: 10px;

    fill: var(--white-color);
  }
}