.team {
  background-color: var(--secondary-bcg-color);

  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;

    @media (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.166;
    }
  }

  &__list {
    display: flex;
    gap: 30px;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    @media (min-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    background-color: var(--white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    @media (max-width: 767px) {
      max-width: 450px;
    }

    @media (min-width: 768px) {
      max-width: 354px;
    }

    @media (min-width: 1200px) {
      max-width: 270px;
    }
  }

  &__member {
    padding-top: 30px;
    padding-bottom: 24px;

    @media (min-width: 1200px) {
      padding-bottom: 30px;
    }
  }

  &__name {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
  }

  &__position {
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.187;
  }
}

 .team-socials-list {
  justify-content: center;
 
  &__link {
    fill: var(--icon-link-color);
  }
 }