:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #188CE8;
  --white-color: #ffffff;
  --footer-bcg-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
  --logo-black-color: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --stroke-color: #ececec;
  --cards-stroke-color: #eeeeee;
  --icon-link-color: #afb1b8;
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --modal-border-color: rgba(33, 33, 33, 0.2);
}